.contact-page-container {
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.contact-page-container h1 {
    color: rgb(238, 232, 220);
    
}

.contact-page-container p {
    color: white;
}

.aside {
    display: flex;
    align-items: center;
    gap: 1rem;
}