.global-menu-container {
  /* position: fixed;
  top: 0;
  left: 50%; */
  display: flex;
  padding-left: 4rem;
  padding-right: 4rem;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  background: #232323;
  padding-top: 2rem;
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.8rem;
}

.link {
  color: white;
  text-decoration: none;
  transition: .3s;
}

.link:hover{
  color: rgb(81, 252, 252);
  opacity: 1;
}

ul {
  list-style-type: none;
  display: flex;
  gap: 3rem;
}
