/* GLOBAL STYLES*/


.main-container {
    background: #232323;
}

h1 {
    font-size: 2.5rem;
    padding-bottom: 2rem;
}

p {
    line-height: 1.8rem; 
    max-width: 700px;
}

.container-padding {
    margin-left: 4rem;
}

.button-main {
    padding: 1rem;
    text-transform: uppercase;
    margin-top: 1rem;
    background-color: #888888;
    border: none;
    min-width: 200px;
    font-size: 1rem;
    cursor: pointer;
    color: white;
}

.button-main {
    margin-top: 5rem;
    transition: 0.3s;
}

.button-main:hover {
    background-color: rgb(81, 252, 252);
    opacity: 1;
    color: #333333;
}